{% if product.handle == 'test-wine' %}

    <div class="snippet-container text-center">
        <h3>DETAILS</h3>
        <div class="grid">
            <div class="grid__item one-quarter">
                <h3>WINE TYPE</h3>
                <h4>{{ product.metafields.theme.wine-type }}</h4>
            </div>

            <div class="grid__item one-quarter">
                <h3>PRODUCER</h3>
                <h4>{{ product.metafields.theme.producer }}</h4>
            </div>
            <div class="grid__item one-quarter">
                <h3>APPELLATION</h3>
                <h4>{{ product.metafields.theme.appellation }}</h4>
            </div>
            <div class="grid__item one-quarter">
                <h3>STYLE</h3>
                <h4>{{ product.metafields.theme.style }}</h4>
            </div>
            <div class="grid__item one-quarter">
                <h3>GRAPE</h3>
                <h4>{{ product.metafields.theme.grape }}</h4>
            </div>
            <div class="grid__item one-quarter">
                <h3>COUNTRY</h3>
                <h4>{{ product.metafields.theme.country }}</h4>
            </div>
            <div class="grid__item one-quarter">
                <h3>REGION</h3>
                <h4>{{ product.metafields.theme.region }}</h4>
            </div>
            <div class="grid__item one-quarter">
                <h3>BOTTLING</h3>
                <h4>{{ product.metafields.theme.bottling}}</h4>
            </div>
            <div class="grid__item one-quarter">
                <h3>VINTAGE</h3>
                <h4>{{ product.metafields.theme.vintage}}</h4>
            </div>
            <div class="grid__item one-quarter">
                <h3>SEAL</h3>
                <h4>{{ product.metafields.theme.seal}}</h4>
            </div>
            <div class="grid__item one-whole table-container">
                <h3>CHARACTER</h3>
                <table>
                    <tbody>
                        <tr class="fruit">
                            <td>Fruit</td>
                            <td>
                                <div class="circle-outer">
                                <div class="circle-inner"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="earth">
                            <td>Earth</td>
                            <td>
                                <div class="circle-outer">
                                <div class="circle-inner"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="body">
                            <td>Body</td>
                            <td>
                                <div class="circle-outer">
                                <div class="circle-inner"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="acid">
                            <td>Acid</td>
                            <td>
                                <div class="circle-outer">
                                <div class="circle-inner"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="alcohol">
                            <td>Body</td>
                            <td>
                                <div class="circle-outer">
                                <div class="circle-inner"></div>
                                </div>
                            </td>
                        </tr>                                                                   
                    </tbody>
                </table>  
            </div>
        </div>
    </div>

    <script>
        const ratings = {
        fruit : {{ product.metafields.theme.fruit }},
        earth : {{ product.metafields.theme.earth }},
        body : {{ product.metafields.theme.body }},
        acid : {{ product.metafields.theme.acid }},
        alcohol : {{ product.metafields.theme.alcohol }}
    };
    
    // total number of stars
    const starTotal = 5;
    
    for(const rating in ratings) {  
        const starPercentage = (ratings[rating] / starTotal) * 100;
        const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
        document.querySelector(`.${rating} .circle-inner`).style.width = starPercentageRounded; 
    }
    </script>
{% endif %}