<a href="{{ product.url | within: collection }}" class="product-link{% if page == 'home' %} home-products__link{% endif %}" title="{{ product.title }}">
    <div class="product{% unless product.available %} product--sold-out{% endunless %} product--{{ settings.product_grid_align }}{% if page == 'home' %} home-products__item{% endif %}">
        
        <div class="product__media u-bg-{{ settings.product_grid_bg }}">
            <div class="product__img-wrapper">
                {%- assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="product__img lazyload js"
                    src="{{ product.featured_image.src | img_url: '300x' }}" 
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512]"
                    data-sizes="auto"
                    alt="{{ product.featured_image.alt | escape }}">
                <noscript>
                    <img class="product__img"
                        src="{{ product.featured_image.src | img_url: '720x' }}" 
                        alt="{{ product.featured_image.alt | escape }}">
                </noscript>
                {% if settings.product_grid_second_hover and product.images[1] != blank %}
                    <div class="product__img-hover u-bg-{{ settings.product_grid_bg }} lazyload js"
                        data-bgset="{% include 'bgset', image: product.images[1] %}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        style="background-image: url('{{ product.images[1] | img_url: '300x300' }});"></div>
                    <noscript>
                        <div class="product__img-hover u-bg-{{ settings.product_grid_bg }}" style="background-image: url('{{ product.images[1] | img_url: '720x720' }});">
                        </div>
                    </noscript>
                {% endif %}
            </div>
            {% if settings.product_grid_label %}
                {% if product.compare_at_price > product.price and product.available %}
                <div class="product__label label">
                    <p class="product__label-text label__text">{{ 'products.product.on_sale' | t }}</p>
                </div>
                {% endif %}
                {% unless product.available %}
                 <div class="product__label label">
                    <p class="product__label-text label__text">{{ 'products.product.sold_out' | t }}</p>
                </div>
                {% endunless %}
            {% endif %}
        </div>
        <div class="product__details">
            <h3 class="product__title h4">{{ product.title }}</h3>

            {% if settings.product_grid_vendor %}
                <h4 class="product__vendor h6">{{ product.vendor }}</h4>
            {% endif %}

            <p class="product__price h5">
                {% include 'product-price' %}
            </p>
        </div>
        <div class="product__cta">
            {% if collection.handle == 'recent-offers' %}
                <a href="mailto:info@presswines.com">ENQUIRE NOW</a>
            {% endif %}
        </div>
    </div>
</a>