<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  	<meta name="theme-color" content="{{ settings.color_brand }}">
  	<link rel="canonical" href="{{ canonical_url }}">

  	{% if settings.favicon != blank %}
	    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

  	<!-- Title and description ================================================== -->
  	<title>
  	{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  	</title>
  	{% if page_description %}
  		<meta name="description" content="{{ page_description | escape }}">
  	{% endif %}

  	{% include 'social-meta-tags' %}

	<!-- font awesome -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  	<!-- CSS ================================================== -->
	{{ 'main.scss.css' | asset_url | stylesheet_tag }}
	{{ 'test.scss.css' | asset_url | stylesheet_tag }}

  	<!-- JS ================================================== -->
  	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  	{{ 'plugins-top.js' | asset_url | script_tag }}

  	{% if template contains 'customers' %}
		{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  	{% endif %}
  	<script type="text/javascript">
		theme = {};
		theme.t = {};
		theme.map = {};
		theme.cart_ajax = {{ settings.cart_ajax }};
	</script>

	<!-- Header hook for plugins ================================================== -->
  	{{ content_for_header }}
</head>  

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
	<script type="text/javascript">
		//loading class for animations
		document.body.className += ' ' + 'theme-loading';
	</script>

	{% section 'mobile-drawer' %}
	{% section 'header' %}

	<div class="main">
		{{ content_for_layout }}
	</div>

	{% section 'footer' %}
	{% section 'promo-pop' %}
	{% section 'age-checker' %}
	
	{% if settings.search_enable %}
		<div class="search-draw js-search-draw mfp-hide">
		    <div class="search-draw__wrapper">  
		        <div class="search__head">
		            <div class="search__label">
		                <h3 class="search__label-title">{{ 'general.search.label' | t }}</h3>
		            </div>
		        </div>  
		        <div class="search__inner">
		            <form action="/search" method="get" class="search__form" role="search">
		                <input type="hidden" name="type" value="{{ settings.search_limit }}">
		                <input type="search" name="q" class="search__form-input js-search-input" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
		                <button type="submit" class="search__form-submit">
		                    <i class="icon icon--search" aria-hidden="true"></i>
		                    <span class="icon-fallback__text">{{ 'general.search.submit' | t }}</span>
		                </button>
		            </form>
		            {% assign search_nav = settings.search_linklist %}
		            {% if linklists[search_nav].links.size > 0 %}
		                <div class="search__nav">
		                    <h4 class="search__nav-title h5">{{ linklists[search_nav].title }}</h4>
		                    <ul class="search__nav-items o-list-bare">
		                        {% for link in linklists[search_nav].links %}
		                            <li class="search__nav-item">
		                                <a href="{{ link.url }}" class="search__nav-link">{{ link.title }}</a>
		                            </li>
		                        {% endfor %}
		                    </ul>
		                </div>
		            {% endif %}
		        </div>
		    </div>
		</div>
	{% endif %}
	
	<div class="ajaxcart-draw js-cart-draw mfp-hide">
		<div class="ajaxcart-draw__wrapper js-cart-draw-inner">	
			<div class="ajaxcart-draw__scroll">
				<div class="ajaxcart__head">
		            <div class="ajaxcart__label">
		                <h3 class="ajaxcart__label-title">{{ 'cart.general.title' | t }}</h3>
		            </div>
		        </div>	
	       		<div id="CartContainer"></div>
	       		<div id="EmptyCart">
	       			<div class="ajaxcart-empty">
	       				<h5 class="ajaxcart-empty__title">{{ 'cart.general.empty' | t }}</h5>
	       				<span class="emoji ajaxcart-empty__emoji">
	       					<i class="icon icon--sad"></i>
	       				</span>
	       				<a href="/collections/all" class="c-btn c-btn--primary c-btn--full">{{ 'cart.general.empty_link' | t }}</a>
	       			</div>
	       		</div>
	       	</div>
		</div>
	</div>

	{% include 'currencies' %}

	{% include 'ajax-cart-template' %}
	{{ 'ajax-cart.js' | asset_url | script_tag }}
	
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
  	{{ 'plugins.js' | asset_url | script_tag }}
  	{{ 'main.js' | asset_url | script_tag }}

	<script>
	{% if resetPassword %}
	  	$(function() {
			timber.resetPasswordSuccess();
	  	});
	{% endif %}
  	</script>
	<script>
		theme.ajaxCartInit = function() {
			ajaxCart.init({
				cartContainer: '#CartContainer',
				cartCountSelector: '#CartCount',
				cartCostSelector: '#CartCost',
				emptySelector: '#EmptyCart',
				{% if settings.cart_ajax %}
				triggerSelector: '.js-cart-trigger',
				formSelector: '.js-product-form',
				addToCartSelector: '.js-product-add',
				{% endif %}
				moneyFormat: {{ shop.money_format | json }}
			});
		};
		//open cart after item is new added
		$('body').on('completeAddItem.ajaxCart', function() {
            setTimeout(function(){
                theme.mfpOpen('cart');
            }, 100);
		});
	</script>
	<!-- Venue theme by Safe As Milk - http://safeasmilk.co/ -->
	<!-- Theme version 3.5.0 -->
</body>
</html>
