{%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% paginate collection.products by limit %}
<section class="section" data-section-id="{{ section.id }}" data-section-type="collection-template">

    <div class="collection{% if collection.image and section.settings.show_collection_image %} collection--img{% endif %}{% if section.settings.center_title %} collection--center{% endif %}">

        <div class="container">
            <div class="collection__header{% if collection.image and section.settings.show_collection_image %} collection__header--img{% endif %}">
                {% if collection.image and section.settings.show_collection_image %}
                    <div class="collection__header-media">
                        <div class="collection__header-img collection__header-img--{{ section.id }} u-bg-cover u-bg-grey lazyload js"
                            data-bgset="{% include 'bgset', image: collection.image %}"
                            data-sizes="auto"
                            data-parent-fit="cover"
                            style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
                        <noscript>
                            <div class="collection__header-img collection__header-img--{{ section.id }} u-bg-cover u-bg-grey"
                                style="background-image: url('{{ collection.image | img_url: '1400x' }});">
                            </div>
                        </noscript>
                    </div>
                {% endif %}
                <div class="collection__header-info">
                    <div class="section__title collection__header-info__title{% if section.settings.center_title %} section__title--center{% endif %}">
                        <h1 class="section__title-text collection__header-info__title-text">{{ collection.title }}</h1>
                    </div>
                    {% if collection.description != blank %}
                        <div class="collection__header-info__text rte rte--header">
                            {{ collection.description }}
                        </div>
                    {% endif %}
                </div>
            </div>

            {% case section.settings.grid %}
                {% when 2 %}
                    {%- assign grid_item_width = 'u-1/1 u-1/2@phab' -%}
                    {%- assign sort_width = 'u-1/1 u-1/2@tab' -%}
                    {%- assign image_size = '740x' -%}
                {% when 3 %}
                    {%- assign grid_item_width = 'u-1/1 u-1/2@phab u-1/3@tab' -%}
                    {%- assign sort_width = 'u-1/1 u-1/2@tab u-1/3@desk' -%}
                    {%- assign image_size = '520x' -%}
                {% when 4 %}
                    {%- assign grid_item_width = 'u-1/2 u-1/3@tab u-1/4@desk' -%}
                    {%- assign sort_width = 'u-1/1 u-1/2@tab' -%}
                    {%- assign image_size = '380x' -%}
            {% endcase %}

            <div class="collection-main" id="collection-main">

                <div class="collection-main__sort js-collection-sort" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by }}">
                    {% comment %}Sidebar blocks count{% endcomment %}
                    {% if section.settings.show_sidebar and section.blocks.size > 0 %}
                    <div class="o-layout o-layout--right">
                        <div class="o-layout__item u-1/1 u-3/4@desk">
                    {% endif %}  
                    {% comment %}Sidebar blocks count{% endcomment %}
                            <div class="o-layout{% if section.settings.sort_enable %} o-layout--right{% endif %}{% if section.settings.grid == 4 %} o-layout--small{% endif %}">

                                {% comment %}Sidebar blocks count{% endcomment %}
                                {% if section.settings.show_sidebar and section.blocks.size > 0 %}
                                    <div class="o-layout__item u-1/1 u-1/2@tab">
                                        <div class="collection-main__filter">
                                            <a href="#" class="collection-main__filter-btn c-btn c-btn--primary c-btn--full js-collection-draw-trigger">{{ 'collections.general.filter_label' | t }}{% if current_tags %} ({{ current_tags | size }}){% endif %}</a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% comment %}Sidebar blocks count{% endcomment %}
                                
                                {% if section.settings.sort_enable %}
                                    <div class="o-layout__item {{ sort_width }}">
                                        
                                        <div class="selector-wrapper">
                                            <label for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                                            <select name="SortBy" id="SortBy">
                                                <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
                                                <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
                                                <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
                                                <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
                                                <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
                                                <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
                                                <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
                                                <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
                                            </select>
                                        </div>

                                    </div>
                                {% endif %}
                            </div>
                    {% comment %}Sidebar blocks count{% endcomment %}
                    {% if section.settings.show_sidebar and section.blocks.size > 0 %}
                        </div>
                    </div>
                    {% endif %}
                    {% comment %}Sidebar blocks count{% endcomment %}
                </div>
                
                <div class="collection-products">

                    {% comment %}Sidebar blocks count{% endcomment %}
                    {% if section.settings.show_sidebar and section.blocks.size > 0 %}
                    <div class="o-layout">

                        <div class="o-layout__item u-1/1 u-1/4@desk">
                            <aside class="collection-sidebar collection-sidebar--{{ settings.color_drawer_style }} u-bg-{{ settings.color_drawer_bg }} js-collection-draw">
                                {% for block in section.blocks %}
                                    {% if block.type == 'linklist' %}
                                        {% if linklists[block.settings.linklist].links.size > 0 %}
                                            <div class="collection-sidebar__section">
                                                <h4 class="collection-sidebar__title h5">{{ linklists[block.settings.linklist].title }}</h4>
                                                <ul class="collection-sidebar__items o-list-bare">
                                                    {% for link in linklists[block.settings.linklist].links %}
                                                        <li class="collection-sidebar__item{% if link.active %} collection-sidebar__item--active{% endif %}">
                                                            <a href="{{ link.url }}" class="collection-sidebar__link">{{ link.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if block.type == 'tags' %}
                                        {% if collection.all_tags.size > 0 %}
                                            <div class="collection-sidebar__section collection-sidebar__section--tags">
                                                <h4 class="collection-sidebar__title h5">
                                                    {{ block.settings.title | escape }}
                                                    {% if current_tags %}
                                                        <span class="collection-sidebar__title-clear"><a href="{{ collection.url }}" class="collection-sidebar__title-clear__link">{{ 'collections.general.tags_clear' | t }}</a></span>
                                                    {% endif %}
                                                </h4>
                                                <ul class="collection-sidebar__items o-list-bare">
                                                    {% for tag in collection.all_tags %}
                                                        {% if current_tags contains tag %}
                                                            <li class="collection-sidebar__item collection-sidebar__item--active">
                                                                {{ tag | link_to_remove_tag: tag | replace: ' title', ' class="collection-sidebar__link" title' }}
                                                            </li> 
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for tag in collection.all_tags %}
                                                        {% unless current_tags contains tag %}
                                                            <li class="collection-sidebar__item">
                                                                {{ tag | link_to_add_tag: tag | replace: ' title', ' class="collection-sidebar__link" title' }}
                                                            </li>
                                                        {% endunless %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </aside>
                        </div>

                        <div class="o-layout__item u-1/1 u-3/4@desk">

                    {% endif %}
                    {% comment %}Sidebar blocks count{% endcomment %}

                            <div class="o-layout{% if settings.product_grid_masonry %} o-layout--masonry{% endif %}{% if section.settings.grid == 4 %} o-layout--small{% endif %}">
                                {% for product in collection.products %}
                                    <div class="o-layout__item {{ grid_item_width }}">
                                        {% include 'product-grid-item', grid_image_width: image_size, page: 'collection' %}
                                    </div>
                                {% else %}
                                    {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                                        {% comment %}
                                            Add default products to help with onboarding for collections/all only.
                                        {% endcomment %}
                                        {% for i in (1..8) %}
                                            <div class="o-layout__item {{ grid_item_width }}">
                                                <a href="#" class="product-link home-products__link">
                                                    <div class="product product--{{ settings.product_grid_align }}">
                                                        <div class="product__media u-bg-{{ settings.product_grid_bg }}">
                                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                                            {{ 'product-' | append: current | placeholder_svg_tag: 'product__img placeholder-svg' }}
                                                        </div>
                                                        <div class="product__details product__details--{{ settings.product_grid_text_size }}">
                                                            <h3 class="product__title">{{ 'homepage.onboarding.product_title' | t }}</h3>
                                                            {% if settings.product_grid_vendor %}
                                                                <p class="product__vendor">{{ 'homepage.onboarding.product_vendor' | t }}</p>
                                                            {% endif %}
                                                            <p class="product__price">
                                                                {% include 'product-price' %}
                                                            </p>
                                                        </div> <!-- end of product__details -->
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="o-layout__item 1/1">
                                            <div class="collection-empty">
                                                <h5 class="collection-empty__title">{{ 'collections.general.no_matches' | t }}</h5>
                                                <span class="emoji collection-empty__emoji">
                                                    <i class="icon icon--confused"></i>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                    {% comment %}Sidebar blocks count{% endcomment %}
                    {% if section.settings.show_sidebar and section.blocks.size > 0 %}
                        </div>                        
                    </div>
                    {% endif %}
                    {% comment %}Sidebar blocks count{% endcomment %}
                </div>

            </div>

            {% if paginate.pages > 1 %}
                <div class="collection-pagination">
                    <div class="container">
                        <div class="pagination">
                            <div class="pagination__items">
                                {{ paginate | default_pagination: next: '<i class="icon icon--right-t"></i>', previous: '<i class="icon icon--left-t"></i>' }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>    
</section>

{% endpaginate %}

{% schema %}
{
    "name": "Collection page",
    "class": "js-section__collection",
    "max_blocks": 6,
    "settings": [
        {
            "type": "range",
            "id": "grid",
            "label": "Products per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "rows",
            "label": "Rows",
            "min": 3,
            "max": 12,
            "step": 1,
            "default": 6
        },
        {
            "type": "checkbox",
            "id": "show_collection_image",
            "label": "Show collection image",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "center_title",
            "label": "Center heading and text",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "sort_enable",
            "label": "Enable sorting",
            "default": true
        },
        {
            "type": "header",
            "content": "Sidebar filter"
        },
        {
            "type": "checkbox",
            "id": "show_sidebar",
            "label": "Enable sidebar",
            "default": false
        },
        {
            "type": "paragraph",
            "content": "Use content below to add sidebar filters."
        }
    ],
    "blocks": [
        {
            "type": "linklist",
            "name": "Menu",
            "settings": [
                {
                    "type": "link_list",
                    "id": "linklist",
                    "label": "Menu",
                    "info": "This menu won't show dropdown items"
                }
            ]
        },
        {
            "type": "tags",
            "name": "Tags filter",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Filter"
                }
            ]
        }
    ]
}
{% endschema %}