<style>
.section--{{ section.id }} .home-video__placeholder-img:before {
    {% if section.settings.overlay_strength == 100 %}
        opacity: 1;
    {% else %}
        opacity: .{{ section.settings.overlay_strength }};
    {% endif %}
}
</style>
<section class="section section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="home-video">
    <div class="container container--medium">
        {% if section.settings.title != blank %}
            <div class="section__title section__title--center{% unless section.settings.desc == blank %} section__title--desc{% endunless %}">
                <h2 class="section__title-text">{{ section.settings.title | escape }}</h2>
                {% unless section.settings.desc == blank %}
                    <div class="section__title-desc rte">{{ section.settings.desc }}</div>
                {% endunless %}
            </div>
        {% endif %}

        <div class="home-video home-video--{{ section.id }}">
            {% if section.blocks.size > 0 %}
                <div class="home-video__stage">

                    <div class="o-ratio o-ratio--16:9">
                        <div class="o-ratio__content">
                            
                            {% for block in section.blocks %}
                                <div class="home-video__stage-video js-home-video{% if forloop.index == 1 %} js-active{% endif %}" id="js-home-video-{{ section.id }}-{{ forloop.index }}">
                                    <iframe src="{% if block.settings.video_url.type == 'youtube' %}https://www.youtube.com/embed/{% elsif block.settings.video_url.type == 'vimeo' %}https://player.vimeo.com/video/{% endif %}{{ block.settings.video_url.id }}?rel=0" frameborder="0" allowfullscreen class="home-video__stage-iframe" tabindex="-1"></iframe>
                                </div>
                            {% endfor %}

                            {% for block in section.blocks %}
                                {% if forloop.index == 1 %}
                                    <div class="home-video__placeholder u-flex u-flex--middle u-flex--center js-home-video-placeholder">
                                        {% if block.settings.video_url.type == 'youtube' %}
                                            <div class="home-video__placeholder-img u-bg-cover u-bg-overlay u-bg-overlay--medium" style="background-image:url(https://img.youtube.com/vi/{{ block.settings.video_url.id }}/sddefault.jpg)"></div>
                                        {% elsif block.settings.video_url.type == 'vimeo' %}
                                            <div class="home-video__placeholder-img u-bg-cover u-bg-overlay u-bg-overlay--medium js-vimeo-placeholder" data-vimeo-id="{{ block.settings.video_url.id }}"></div>
                                        {% endif %}
                                        <a href="#js-home-video-{{ section.id }}-1" class="home-video__placeholder-btn c-btn c-btn--primary c-btn--play icon-fallback js-home-video-placeholder-trigger">
                                            <i class="icon icon--play" aria-hidden="true"></i>
                                            <span class="icon-fallback__text">{{ 'sections.video.play_label' | t }}</span>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>

                </div>
            {% endif %}

            {% if section.blocks.size > 1 %}
                <div class="home-video__items">
                    {% for block in section.blocks %}
                    <div class="home-video__item{% if forloop.index == 1 %} js-init{% endif %}">
                        <a href="#js-home-video-{{ section.id }}-{{ forloop.index }}" class="home-video__item-link js-home-video-trigger">
                            <div class="o-ratio o-ratio--16:9">

                                <div class="o-ratio__content">
                                    {% if block.settings.video_url.type == 'youtube' %}
                                        <div class="home-video__item-img u-bg-cover u-bg-overlay" style="background-image:url(https://img.youtube.com/vi/{{ block.settings.video_url.id }}/mqdefault.jpg)"></div>
                                    {% elsif block.settings.video_url.type == 'vimeo' %}
                                        <div class="home-video__item-img u-bg-cover u-bg-overlay js-vimeo-thumb" data-vimeo-id="{{ block.settings.video_url.id }}"></div>
                                    {% endif %}
                                    <div class="home-video__item-icon home-video__item-icon--play u-flex u-flex--middle u-flex--center icon-fallback">
                                        <i class="icon icon--play" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">{{ 'sections.video.play_label' | t }}</span>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        {% unless section.settings.link == blank %}
            <div class="section__link section__link--center section__link--mt">
                <a href="{{ section.settings.link }}" class="link link--arrow section__link-link">{{ section.settings.link_title | escape }}</a>
            </div>
        {% endunless %}
    </div>
</section>

{% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
    </div>
{% endif %}

{% schema %}
{
    "name": "Video gallery",
    "class": "js-section__home-video",
    "max_blocks": 6,
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Video gallery"
        },
        {
            "type": "richtext",
            "id": "desc",
            "label": "Text" 
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Link label",
            "default": "More videos"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Create a link to more videos on YouTube or Vimeo. You will still need to set up the video content in this section manually."
        },
        {
            "type": "range",
            "id": "overlay_strength",
            "label": "Overlay strength",
            "unit": "%",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 50
        }
    ],
    "blocks": [
        {
            "type": "video",
            "name": "Video",
            "settings": [
                {
                    "id": "video_url",
                    "type": "video_url",
                    "label": "YouTube or Vimeo link",
                    "accept": ["youtube", "vimeo"],
                    "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Video gallery",
            "category": "Video",
            "blocks": [
                {
                    "type": "video",
                    "settings": {
                        "video_url": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
                    }
                },
                {
                    "type": "video",
                    "settings": {
                        "video_url": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
                    }
                }
            ]
        }
    ]
}
{% endschema %}
