<style>
.section--{{ section.id }} .collection-list__bg:before {
    {% if section.settings.overlay_strength == 100 %}
        opacity: 1;
    {% else %}
        opacity: .{{ section.settings.overlay_strength }};
    {% endif %}
}
</style>

{% capture bg_class %}{% if section.settings.show_bg %}section--has-bg{% else %}section--no-bg{% endif %}{% endcapture %}
{% capture margin_class %}{% if section.settings.link == blank and section.settings.show_bg == false %}section--mb-s{% endif %}{% endcapture %}

{% if section.blocks.size > 0 %}
<section class="section section--{{ section.id }} {{ bg_class }} {{ margin_class }}" data-section-id="{{ section.id }}" data-section-type="home-collection-list">
    <div class="container container--mob-0">
        {% if section.settings.title != blank %}
        <div class="section__title section__title--center">
            <h2 class="section__title-text">{{ section.settings.title | escape }}</h2>
        </div>
        {% endif %}

        <div class="section__bg{% unless section.settings.show_bg %} section__bg--white{% endunless %}"></div>

        <div class="collection-list js-home-collection-list" data-section-id="{{ section.id }}">
            
            {% case section.settings.grid %}
            {% when 2 %}
                {%- assign grid_item_width = 'u-1/2@tab' -%}
            {% when 3 %}
                {%- assign grid_item_width = 'u-1/3@tab' -%}
            {% when 4 %}
                {%- assign grid_item_width = 'u-1/2@tab u-1/4@desk' -%}
            {% endcase %}

            <div class="collection-list__items">
                <div class="o-layout o-layout--center layout-slider js-layout-slider js-layout-slider-{{ section.id }}">
                    {% for block in section.blocks limit: section.blocks.size %}
                        <div class="o-layout__item {{ grid_item_width }}" {{ block.shopify_attributes }}>
                            {%- assign collection = collections[block.settings.collection] -%}
                            
                            {% if collection.empty? %}
                                {% assign collection_image_url = '' %}
                            {% else %}
                                {% if block.settings.image %}
                                    {%- assign collection_image_url = block.settings.image -%}
                                {% elsif collection.image %}
                                    {%- assign collection_image_url = collection.image -%}
                                {% elsif collection.products.first %}
                                    {%- assign collection_image_url = collection.products.first.featured_image -%}
                                {% endif %}
                            {% endif %}

                            {% unless collection.empty? %}
                            <a href="{{ collection.url }}" class="collection-list__link">
                            {% endunless %}
                                <div class="collection-list__item">
                                    <div class="collection-list__bg u-bg-cover u-bg-overlay lazyload js"
                                        data-bgset="{% include 'bgset', image: collection_image_url %}"
                                        data-sizes="auto"
                                        data-parent-fit="cover"
                                        style="background-image: url('{{ collection_image_url | img_url: '300x300' }});">
                                        {% if collection.empty? %}
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        {% endif %}
                                    </div>
                                    <noscript>
                                        <div class="collection-list__bg u-bg-cover u-bg-overlay" 
                                            style="background-image: url('{{ collection_image_url | img_url: '720x720' }});">
                                            {% if collection.empty? %}
                                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% endif %}
                                        </div>
                                    </noscript>
                                    <div class="collection-list__title u-flex u-flex--middle u-flex--center{% if settings.type_header_underline %} collection-list__title--border{% endif %}">
                                        <h3 class="collection-list__title-text h2">
                                            {%- if collection.empty? -%}
                                                {{ 'homepage.onboarding.collection_title' | t }}
                                            {%- else -%}
                                                {{ collection.title }}
                                            {%- endif -%}
                                        </h3>
                                    </div>
                                </div>
                            {% unless collection.empty? %}
                            </a>
                            {% endunless %}

                        </div>
                    {% endfor %}

                    {% unless section.settings.link == blank %}
                        <div class="o-layout__item u-hidden@tab-up">
                            <div class="layout-slider__more">
                                <a href="{{ section.settings.link }}" class="link link--arrow layout-slider__more-link">{{ section.settings.link_title }}</a>
                            </div>
                        </div>
                    {% endunless %}

                </div>
            </div>
        </div>

        {% unless section.settings.link == blank %}
            <div class="section__link section__link--center u-hidden@tab-down">
                <a href="{{ section.settings.link }}" class="link link--arrow section__link-link">{{ section.settings.link_title | escape }}</a>
            </div>
        {% endunless %}
    </div>
</section>
{% endif %}

{% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
    </div>
{% endif %}

{% schema %}
{
    "name": "Collection list",
    "class": "js-section__collection-list",
    "max_blocks": 9,
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Collection list"
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Collections per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Link label",
            "default": "View all"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "checkbox",
            "id": "show_bg",
            "label": "Show background color",
            "default": true
        },
        {
            "type": "range",
            "id": "overlay_strength",
            "label": "Overlay strength",
            "unit": "%",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 30
        }
    ],
    "blocks": [
        {
            "type": "featured_collection",
            "name": "Collection",
            "settings": [
                {
                    "label": "Collection",
                    "id": "collection",
                    "type": "collection"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Replacement image",
                    "info": "800px width recommended."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection list",
            "category": "Collection",
            "settings": {
                "grid": 2
            },
            "blocks": [
                {
                    "type": "featured_collection"
                },
                {
                    "type": "featured_collection"
                }
            ]
        }
    ]
}
{% endschema %}