{% capture bg_class %}{% if section.settings.show_bg %}section--has-bg{% else %}section--no-bg{% endif %}{% endcapture %}
{% capture margin_class %}{% if section.settings.link == blank and section.settings.show_bg == false %}section--mb-s{% endif %}{% endcapture %}

<section class="section section--{{ section.id }} {{ bg_class }} {{ margin_class }}" data-section-id="{{ section.id }}" data-section-type="home-collection">
    <div class="container container--mob-0">
        {% if section.settings.title != blank %}
        <div class="section__title section__title--center">
            <h2 class="section__title-text">{{ section.settings.title | escape }}</h2>
        </div>
        {% endif %}

        <div class="section__bg{% unless section.settings.show_bg %} section__bg--white{% endunless %}"></div>

        <div class="home-products js-home-products" data-section-id="{{ section.id }}">
            {%- assign collection = collections[section.settings.collection] -%}

            {% case section.settings.grid %}
                {% when 2 %}
                    {%- assign grid_item_width = 'u-1/2@tab' -%}
                {% when 3 %}
                    {%- assign grid_item_width = 'u-1/3@tab' -%}
                {% when 4 %}
                    {%- assign grid_item_width = 'u-1/4@tab' -%}
            {% endcase %}

            {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

            <div class="home-products__grid">
                <div class="o-layout o-layout--center{% if settings.product_grid_masonry %} o-layout--masonry{% endif %}{% if section.settings.grid == 4 %} o-layout--small{% endif %} layout-slider js-layout-slider js-layout-slider-{{ section.id }}">
                    {% for product in collection.products limit: product_limit %}
                        <div class="o-layout__item  {{ grid_item_width }}">
                            {% include 'product-grid-item', page: 'home' %}
                        </div>                        
                    {% else %}

                        {% for i in (1..product_limit) %}
                            <div class="o-layout__item {{ grid_item_width }}">
                                <a href="#" class="product-link home-products__link">
                                    <div class="product home-products__item product--{{ settings.product_grid_align }}">
                                        <div class="product__media u-bg-{{ settings.product_grid_bg }}">
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'product-' | append: current | placeholder_svg_tag: 'product__img placeholder-svg' }}
                                        </div>
                                        <div class="product__details product__details--{{ settings.product_grid_text_size }}">
                                            <h3 class="product__title">{{ 'homepage.onboarding.product_title' | t }}</h3>
                                            {% if settings.product_grid_vendor %}
                                                <p class="product__vendor">{{ 'homepage.onboarding.product_vendor' | t }}</p>
                                            {% endif %}
                                            <p class="product__price">
                                                {% include 'product-price' %}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% unless section.settings.link == blank %}
                        <div class="o-layout__item u-hidden@tab-up">
                            <div class="layout-slider__more">
                                <a href="{{ section.settings.link }}" class="link link--arrow layout-slider__more-link">{{ section.settings.link_title }}</a>
                            </div>
                        </div>
                    {% endunless %}
                </div>
                {% unless section.settings.link == blank %}
                    <div class="section__link section__link--center u-hidden@tab-down">
                        <a href="{{ section.settings.link }}" class="link link--arrow section__link-link">{{ section.settings.link_title | escape }}</a>
                    </div>
                {% endunless %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Featured collection",
    "class": "js-section__home-collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured collection"
        },
        {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Products per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "rows",
            "label": "Rows",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Link label",
            "default": "View all"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "checkbox",
            "id": "show_bg",
            "label": "Show background color",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "Featured collection",
            "category": "Collection"
        }
    ]
}
{% endschema %}