<section class="section section-newsletter section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="home-newsletter">
    <div class="container">
        
        <div class="newsletter u-content--dark newsletter--grey">
            <div class="newsletter__content">
                
                <div class="newsletter__title section__title section__title--center section__title--desc">
                    {% if section.settings.footer_newsletter_title != blank %}
                        <h2 class="section__title-text">{{ section.settings.footer_newsletter_title | escape }}</h2>
                    {% endif %}
                    {% if section.settings.footer_newsletter_desc != blank %} 
                        <div class="section__title-desc rte">{{ section.settings.footer_newsletter_desc }}</div>
                    {% endif %}
                </div>

                <div class="newsletter__form-wrapper">
                    {% form 'customer' %}
                        {{ form.errors | default_errors }}
                        {% if form.posted_successfully? %}
                            <div class="newsletter__form-message">
                                <h4 class="newsletter__form-message__text">{{ 'general.newsletter_form.confirmation' | t }}</h4>
                            </div>
                        {% else %}
                            <div class="o-layout o-layout--flush">
                                <div class="o-layout__item u-1/1 u-2/3@tab">
                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <input type="email"
                                            name="contact[email]"
                                            id="Email"
                                            class="newsletter__input"
                                            value="{% if customer %}{{ customer.email }}{% endif %}"
                                            placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
                                            autocorrect="off"
                                            autocapitalize="off">
                                </div>
                                <div class="o-layout__item u-1/1 u-1/3@tab">
                                    <button type="submit" class="c-btn c-btn--full c-btn--primary c-btn--arrow newsletter__btn" name="commit" id="Subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endform %}
                </div>  
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Newsletter",
    "class": "js-section__newsletter",
    "settings": [
        {
            "type": "text",
            "id": "footer_newsletter_title",
            "label": "Heading",
            "default": "Newsletter"
        },
        {
            "type": "richtext",
            "id": "footer_newsletter_desc",
            "label": "Subheading",
            "default": "<p>Let your customers know what to expect if they sign up to your mailing list.</p>"
        },
        {
            "type": "paragraph",
            "content": "Every sign up will create a 'Customer account' in this store. [Manage customers](/admin/customers?query=&accepts_marketing=1)"
        }
    ],
    "presets": [
        {
            "name": "Newsletter",
            "category": "Promotional"
        }
    ]
}
{% endschema %}