{% if section.blocks.size > 0 %}
<section class="section section--mb-s section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="home-custom">
    <div class="container">
        <div class="home-custom__items">
            <div class="o-layout o-layout--center">

                {% for block in section.blocks %}
                    <div class="o-layout__item u-1/1 u-{{ block.settings.width }}@tab">
                        {% if block.type == 'text' %}

                            <div class="home-custom__item">
                                <div class="home-custom__item-content{% if block.settings.align == 'center' %} u-text-center{% endif %}">
                                    {% unless block.settings.title == blank %}
                                        <div class="section__title section__title--desc{% if block.settings.align == 'center' %} section__title--center{% endif %}">
                                            <h2 class="section__title-text">{{ block.settings.title | escape }}</h2>
                                        </div>
                                    {% endunless %}
                                    {% unless block.settings.text == blank %}
                                        <div class="home-custom__item-text rte">
                                            {{ block.settings.text }}
                                        </div>
                                    {% endunless %}
                                    {% unless block.settings.link == blank %}
                                        <div class="home-custom__item-link">
                                            <a href="{{ block.settings.link }}" class="link link--arrow">{{ block.settings.link_title | escape }}</a>
                                        </div>
                                    {% endunless %}
                                </div>
                            </div>

                        {% elsif block.type == 'image' %}

                            <div class="home-custom__item">
                                <div class="home-custom__item-content home-custom__item-content--image">
                                    {% unless block.settings.link == blank %}
                                        <a href="{{ block.settings.link }}" class="home-custom__link">
                                    {% endunless %}
                                        {% unless block.settings.image == blank %}
                                            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                            <img class="home-custom__img lazyload js"
                                                src="{{ block.settings.image | img_url: '300x' }}" 
                                                data-src="{{ img_url }}"
                                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                data-sizes="auto"
                                                alt="{{ block.settings.image.alt }}">
                                            <noscript>
                                                {% case block.settings.width %}
                                                    {% when '1/1' %}
                                                        {%- assign image_width = '1400x' -%}
                                                    {% when '2/3' %}
                                                        {%- assign image_width = '1200x' -%}
                                                    {% when '1/2' %}
                                                        {%- assign image_width = '1000x' -%}
                                                    {% when '1/3' %}
                                                        {%- assign image_width = '800x' -%}
                                                    {% when '1/4' %}
                                                        {%- assign image_width = '600x' -%}
                                                {% endcase %}
                                                <img class="home-custom__img"
                                                    src="{{ block.settings.image | img_url: image_width }}"
                                                    alt="{{ block.settings.image.alt }}">
                                            </noscript>
                                        {% else %}
                                            {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                            {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        {% endunless %}    
                                    {% unless block.settings.link == blank %}
                                        </a>
                                    {% endunless %}
                                </div>
                            </div>

                        {% elsif block.type == 'button' %}
                            
                            <div class="home-custom__item">
                                <div class="home-custom__item-content">
                                    {% unless block.settings.title == blank %}
                                        <a href="{{ block.settings.link }}" class="c-btn c-btn--full home-custom__btn c-btn--{{ block.settings.color }} c-btn--{{ block.settings.size }}">{{ block.settings.title }}</a>
                                    {% endunless %}
                                </div>
                            </div>

                        {% elsif block.type == 'page' %}

                            <div class="home-custom__item">
                                <div class="home-custom__item-content">
                                    {%- assign page = pages[block.settings.page] -%}
                                    {% if block.settings.page_title %}
                                        <div class="section__title section__title--desc">
                                            <h2 class="section__title-text">{{ page.title }}</h2>
                                        </div>
                                    {% endif %}
                                    <div class="home-custom__item-text rte">
                                        {{ page.content }}
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endif %}

{% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
    </div>
{% endif %}

{% schema %}
{
    "name": "Custom content",
    "class": "js-section__home-custom",
    "max_blocks": 12,
    "settings": [
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Text heading"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Promote your brand by using a powerful combination of buttons, custom text, page content and images.</p>"
                },
                {
                    "type": "text",
                    "id": "link_title",
                    "label": "Link label",
                    "default": "Learn more"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "align",
                    "label": "Text alignment",
                    "default": "center",
                    "options": [
                        {
                            "label": "Center",
                            "value": "center"
                        },
                        {
                            "label": "Left",
                            "value": "left"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        },
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        },
        {
            "type": "button",
            "name": "Button",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Label",
                    "default": "Button"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "color",
                    "label": "Color",
                    "default": "primary",
                    "options": [
                        {
                            "label": "Brand",
                            "value": "primary"
                        },
                        {
                            "label": "Accent",
                            "value": "accent"
                        },
                        {
                            "label": "Light grey",
                            "value": "light"
                        },
                        {
                            "label": "Black",
                            "value": "dark"
                        },
                        {
                            "label": "White",
                            "value": "white"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "size",
                    "label": "Size",
                    "default": "default",
                    "options": [
                        {
                            "label": "Default",
                            "value": "default"
                        },
                        {
                            "label": "Small",
                            "value": "small"
                        },
                        {
                            "label": "Medium",
                            "value": "big"
                        },
                        {
                            "label": "Large",
                            "value": "bigger"
                        },
                        {
                            "label": "Extra large",
                            "value": "biggest"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        },
        {
            "type": "page",
            "name": "Page",
            "settings": [
                {
                    "type": "page",
                    "id": "page",
                    "label": "Page"
                },
                {
                    "type": "checkbox",
                    "id": "page_title",
                    "label": "Show title",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        }
    ], 
    "presets": [
        {
            "name": "Custom content",
            "category": "Advanced",
            "blocks": [
                {
                    "type": "text"
                },
                {
                    "type": "image",
                    "settings": {
                        "width": "2/3"
                    }
                },
                {
                    "type": "button",
                    "settings": {
                        "size": "big"
                    }
                }
            ]
        }
    ]
}
{% endschema %}