<style>
.section--{{ section.id }} .collection-list__bg:before {
    {% if section.settings.overlay_strength == 100 %}
        opacity: 1;
    {% else %}
        opacity: .{{ section.settings.overlay_strength }};
    {% endif %}
}
</style>

<section class="section section--list-collections section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="list-collections">
    <div class="container">
        
        <div class="section__title section__title--center">
            <h1 class="section__title-text h2">{{ 'collections.general.all_collections' | t }}</h1>
        </div>

        <div class="collection-list">

            {%- assign blocks = section.blocks | sort: 'collection.all_products_count' -%}

            {% case section.settings.grid %}
            {% when 2 %}
                {%- assign grid_item_width = 'u-1/2@tab' -%}
            {% when 3 %}
                {%- assign grid_item_width = 'u-1/3@tab' -%}
            {% when 4 %}
                {%- assign grid_item_width = 'u-1/2@tab u-1/4@desk' -%}
            {% endcase %}

            <div class="collection-list__items">
                <div class="o-layout">
       
                    {% if section.settings.display_type == 'all' %}

                        {% case section.settings.sort %}
                        {% when 'products_high' or 'products_low' %}
                            {%- assign collections = collections | sort: 'all_products_count' -%}
                        {% when 'date' or 'date_reversed' %}
                            {%- assign collections = collections | sort: 'published_at' -%}
                        {% endcase %}
      
                        {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
                            {% for collection in collections %}
                                <div class="o-layout__item {{ grid_item_width }}">
                                    {% include 'collection-grid-item' %}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for collection in collections reversed %}
                                <div class="o-layout__item {{ grid_item_width }}">
                                    {% include 'collection-grid-item' %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    
                    {% else %}
                        
                        {% for block in section.blocks %}
                            <div class="o-layout__item {{ grid_item_width }}">
                                {%- assign collection = collections[block.settings.collection] -%}
                                {% include 'collection-grid-item' %}
                            </div>
                        {% endfor %}

                    {% endif %}

                </div>
            </div>

        </div>

    </div>
</section>

{% schema %}
{
    "name": "Collections list page",
    "class": "js-section__list-collections", 
    "settings": [
        {
            "type": "paragraph",
            "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
        },
        {
            "type": "radio",
            "id": "display_type",
            "label": "Select collections to show",
            "default": "all",
            "options": [
                {
                    "value": "all",
                    "label": "All"
                },
                {
                    "value": "selected",
                    "label": "Selected"
                }
            ]
        },
        {
        "type": "select",
        "id": "sort",
        "label": "Sort collections by:",
        "info": "Sorting only applies when 'All' is selected",
        "default": "alphabetical",
        "options": [
                {
                    "value": "products_high",
                    "label": "Product count, high to low"
                },
                {
                    "value": "products_low",
                    "label": "Product count, low to high"
                },
                {
                    "value": "alphabetical",
                    "label": "Alphabetically, A-Z"
                },
                {
                    "value": "alphabetical_reversed",
                    "label": "Alphabetically, Z-A"
                },
                {
                    "value": "date",
                    "label": "Date, old to new"
                },
                {
                    "value": "date_reversed",
                    "label": "Date, new to old"
                }
            ]
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Collections per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "overlay_strength",
            "label": "Overlay strength",
            "unit": "%",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 30
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "label": "Collection",
                    "id": "collection",
                    "type": "collection"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Replacement image",
                    "info": "800px width recommended."
                }
            ]
        }
    ]
}
{% endschema %}