<section class="section section--password-content" data-section-id="{{ section.id }}" data-section-type="password-content">
    <div class="container container--mob-0">
        <div class="password-content u-flex u-flex--middle u-flex--center">

            {% if section.settings.bg_image != blank %}
                <div class="password-content__bg u-bg-cover u-bg-overlay u-bg-overlay--light lazyload js"
                    data-bgset="{% include 'bgset', image: section.settings.bg_image %}"
                    data-sizes="auto"
                    data-parent-fit="cover"
                    style="background-image: url('{{ section.settings.bg_image | img_url: '300x300' }});"></div>
                <noscript>
                    <div class="password-content__bg u-bg-cover u-bg-overlay u-bg-overlay--light"
                        style="background-image: url('{{ section.settings.bg_image | img_url: '1400x' }});"></div>
                    </div>
                </noscript>
            {% endif %} 

            <div class="password-content__content">
                <div class="section__title section__title--center">
                    <h1 class="section__title-text h2">{{ 'general.password_page.opening_soon' | t }}</h1>
                </div>

                {% unless shop.password_message == blank %}
                    <div class= "password-content__message rte">
                        <p>{{ shop.password_message }}</p>
                        {% unless section.settings.newsletter_text == blank %}
                            {{ section.settings.newsletter_text }}
                        {% endunless %}
                    </div>
                {% endunless %}

                {% if section.settings.show_newsletter %}
                    <div class="password-content__form">
                        {% form 'customer' %}
                            {{ form.errors | default_errors }}
                            {% if form.posted_successfully? %}
                                <div class="u-text-center">
                                    <h4>{{ 'general.password_page.signup_form_success' | t }}</h4>
                                </div>
                            {% else %}
                                <input type="hidden" name="contact[tags]" value="prospect, password page">
                                <label for="email" class="u-hidden-visually">{{ 'general.password_page.signup_form_email_placeholder' | t }}</label>
                                <input type="email" name="contact[email]" id="Email" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                                <button type="submit" name="commit" class="c-btn c-btn--full c-btn--primary">{{ section.settings.newsletter_button_text | escape }}</button>
                            {% endif %}
                        {% endform %}
                    </div>
                {% endif %}

                {% if section.settings.show_social %}
                    <div class="password-content__social">
                        {% capture share_link %}{{ shop.url }}{% endcapture %}
                        {% capture share_title %}{{ shop.name | url_param_escape }}{% endcapture %}
                        {% capture share_img %}{{ section.settings.bg_image | img_url: '800x' }}{% endcapture %}
                        <ul class="password__share-items">
                            {% if settings.share_googleplus %}
                                <li class="password__share-item">
                                    <a href="//plus.google.com/share?url={{ share_link }}" class="password__share-link icon-fallback" target="_blank">
                                        <i class="icon icon--google-plus" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Google+</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.share_facebook %}
                                <li class="password__share-item">
                                    <a href="//www.facebook.com/sharer.php?u={{ share_link }}" class="password__share-link icon-fallback" target="_blank">
                                        <i class="icon icon--facebook" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Facebook</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.share_twitter %}
                                <li class="password__share-item">
                                    <a href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}" class="password__share-link icon-fallback" target="_blank">
                                        <i class="icon icon--twitter" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Twitter</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.share_pinterest %}
                                <li class="password__share-item">
                                    <a href="http://pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}" class="password__share-link icon-fallback" target="_blank">
                                        <i class="icon icon--pinterest" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Pinterest</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.share_mail %}
                                <li class="password__share-item">
                                    <a href="mailto:?body={{ share_title }} - {{ share_link }}" class="password__share-link icon-fallback">
                                        <i class="icon icon--mail" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Email</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
</section>

{% schema %}
{
    "name": "Content",
    "class": "js-section__password-content",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image",
            "info": "1400px width recommended."
        },
        {
            "type": "header",
            "content": "Newsletter settings"
        },
        {
            "type": "checkbox",
            "id": "show_newsletter",
            "label": "Show newsletter signup",
            "default": true
        },
        {
            "type": "richtext",
            "id": "newsletter_text",
            "label": "Newsletter text"
        },
        {
            "type": "text",
            "id": "newsletter_button_text",
            "label": "Newsletter button text",
            "default": "Sign up"
        },
        {
            "type": "paragraph",
            "content": "Every sign up will create a 'Customer account' in this store. [Manage customers](/admin/customers?query=&tag=prospect)"
        },
        {
            "type": "header",
            "content": "Social sharing"
        },
        {
            "type": "checkbox",
            "id": "show_social",
            "label": "Show social sharing buttons",
            "default": true
        }
    ]
}
{% endschema %}