<div itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
    <meta itemprop="name" content="{{ product.title }}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    {% assign current_variant = product.selected_or_first_available_variant %}

    {% case section.settings.image_size %}
        {% when 'small' %}
            {%- assign image_size = '640x' -%}
        {% when 'medium' %}
            {%- assign image_size = '820x' -%}
        {% when 'large' %}
            {%- assign image_size = '920x' -%}
    {% endcase %}

    <section class="section section--product-single js-product-single" data-section-id="{{ section.id }}" data-section-type="product-single">
        
        <div class="product-single product-single--{{ section.settings.layout }} product-single--text-{{ section.settings.text_color }} product-single--{{product.id}} js-product-{{product.id}}">
            <div class="product-single__top">
                
                <div class="product-single__top-bg product-single__top-bg--{{ section.settings.bg_height }} u-bg-{{ section.settings.bg_color }}{% if section.settings.layout == 'classic' %} js-product-bg js-product-bg--{{ section.settings.bg_height }}{% endif %}"></div>

                <div class="container container--small">
                    <div class="section__title section__title--center{% if section.settings.show_vendor %} section__title--vendor{% endif %} js-product-title">
                        <h1 itemprop="name" class="section__title-text product-single__title-text">{{ product.title }}</h1>
                        {% if section.settings.show_vendor %}
                            <h4 class="section__title-desc product-single__title-desc">{{ product.vendor | link_to_vendor }}</h4>
                        {% endif %}
                    </div>
                </div>

                <div class="container">
                    {% if section.settings.layout == 'classic' %}
                    <div class="u-hidden@desk-up" data-set="cart-photo-replace">
                        <div class="js-cart-replace">
                    {% endif %}
                            <div class="product-single__photo">
                                 <div class="product-single__photo product-single__photo--{{ section.settings.image_size }} js-product-slider" data-slider-id="1">
                                    {% for image in product.images %}
                                        <div class="product-single__photo__item" data-variant-id="{% for variant in image.variants %}{{ variant.id }}{% endfor %}" data-slide-id="{{ forloop.index0 }}">

                                            {% if section.settings.enable_zoom %}
                                            <a href="{{ image.src | img_url: '2048x2048' }}" class="product-single__photo-zoom js-product-zoom">
                                            {% endif %}
                                                {%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                                <img class="product-single__photo__img lazyload js"
                                                    src="{{ image.src | img_url: '300x' }}" 
                                                    data-src="{{ img_url }}"
                                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                    data-sizes="auto"
                                                    data-ratio="{{ image.aspect_ratio }}"
                                                    alt="{{ image.alt | escape }}">
                                                <noscript>
                                                    <img class="product-single__photo__img"
                                                        src="{{ image.src | img_url: '900x' }}"
                                                        alt="{{ image.alt | escape }}">
                                                </noscript>
                                            {% if section.settings.enable_zoom %}
                                            </a>
                                            {% endif %}

                                        </div>
                                    {% endfor %}
                                </div>
                                {% if product.images.size > 1 %}
                                    <div class="product-single__photo-thumbs js-product-single-thumbs">
                                        {% for image in product.images %}
                                            <div>Product image {{ forloop.index }}<img src="{{ image.src | img_url: '24x24', crop: 'center' }}" data-src="{{ image.src | img_url: '92x92', crop: 'center' }}" alt="{{ image.alt | escape }}" class="product-single__photos-thumbs__img lazyload"></div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                    {% if section.settings.layout == 'classic' %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="container container--medium">
                {% include 'presswine-metafields' %}
                <div class="product-single__bottom">
                    <div class="o-layout o-layout--reverse o-layout--large">
                        <div class="o-layout__item u-1/1 u-2/5@desk">

                            {% if section.settings.layout == 'classic' %}
                            <div class="u-hidden@desk-down" data-set="cart-replace">
                                <div class="js-cart-replace">
                            {% endif %}
                                    <div class="product-single__box js-product-single-box" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                                        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-single__price js-product-price">
                                            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                                            {% if product.available %}
                                                <link itemprop="availability" href="http://schema.org/InStock" />
                                            {% else %}
                                                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                                            {% endif %}

                                            <h3 class="product-single__price-text js-product-price-text">
                                                <span class="u-hidden-visually">{{ 'products.general.regular_price' | t }}</span>
                                                <span class="js-product-price-number">
                                                    <span class="product-single__price-number{% if product.compare_at_price_max > product.price %} product-single__price-number--sale{% endif %}" itemprop="price"><span class="money">{{ current_variant.price | money }}</span></span>
                                                </span>
                                                {% if product.compare_at_price_max > product.price %}
                                                    <span class="u-hidden-visually">{{ 'products.general.sale_price' | t }}</span>
                                                    <span class="js-product-price-compare">
                                                        <s class="product-single__price-compare"><span class="money">{{ current_variant.compare_at_price | money }}</span></s>
                                                    </span>
                                                {% endif %}
                                            </h3>
                                        </div>

                                        {% capture 'product_id_attr' %}js-product-form--{{ product.id }}{% endcapture %}
                                        {% form 'product', product, class: "product-single__form js-product-form", id:product_id_attr %}

                                            {% if section.settings.show_reviews %}
                                                <div class="product-single__reviews-stars">
                                                    <a href="#acc-reviews" class="product-single__reviews-stars-link js-review-scroll js-accordion-trigger">
                                                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                                                    </a>
                                                </div>
                                            {% endif %}

                                            <div class="product-single__variant">
                                                <select name="id" id="productSelect-1" class="product-single__variant-select">
                                                    {% for variant in product.variants %}
                                                        {% if variant.available %}
                                                            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>
                                                        {% else %}
                                                            <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            {% if section.settings.show_quantity_selector %}
                                                <div class="product-single__qty">
                                                    <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                                                    <div class="product-single__qty-input">
                                                        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <div class="product-single__add js-product-buttons{% unless product.available %} product-single__add--sold{% endunless %}">

                                                <button type="submit" name="add" class="c-btn c-btn--full c-btn--plus c-btn--{% if section.settings.enable_payment_button %}light{% else %}primary{% endif %} product-single__add-btn js-product-add">
                                                    <span id="AddToCartText" class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
                                                </button>
                                                {% if section.settings.enable_payment_button %}
                                                    {{ form | payment_button }}
                                                {% endif %}

                                            </div>
                                        
                                        {% endform %}

                                        {% if section.settings.show_share_buttons %}
                                            {% capture share_link %}{{ shop.url }}{{ product.url }}{% endcapture %}
                                            {% capture share_title %}{{ product.title | url_param_escape }}{% endcapture %}
                                            {% capture share_img %}{{ product.featured_image | product_img_url: '1024x1024' }}{% endcapture %}
                                            <div class="product-single__share">
                                                <ul class="product-single__share-items o-list-bare">
                                                    {% if settings.share_googleplus %}
                                                    <li class="product-single__share-item">
                                                        <a href="//plus.google.com/share?url={{ share_link }}" class="product-single__share-link icon-fallback" target="_blank">
                                                            <i class="icon icon--google-plus" aria-hidden="true"></i>
                                                            <span class="icon-fallback__text">Google+</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                    {% if settings.share_facebook %}
                                                    <li class="product-single__share-item">
                                                        <a href="//www.facebook.com/sharer.php?u={{ share_link }}" class="product-single__share-link icon-fallback" target="_blank">
                                                            <i class="icon icon--facebook" aria-hidden="true"></i>
                                                            <span class="icon-fallback__text">Facebook</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                    {% if settings.share_twitter %}
                                                    <li class="product-single__share-item">
                                                        <a href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}" class="product-single__share-link icon-fallback" target="_blank">
                                                            <i class="icon icon--twitter" aria-hidden="true"></i>
                                                            <span class="icon-fallback__text">Twitter</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                    {% if settings.share_pinterest %}
                                                    <li class="product-single__share-item">
                                                        <a href="http://pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}" class="product-single__share-link icon-fallback" target="_blank">
                                                            <i class="icon icon--pinterest" aria-hidden="true"></i>
                                                            <span class="icon-fallback__text">Pinterest</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                    {% if settings.share_fancy %}
                                                    <li class="product-single__share-item">
                                                        <a href="//www.thefancy.com/fancyit?ItemURL={{ share_link }}&Title={{ share_title }}&ImageURL={{ share_img }}" class="product-single__share-link icon-fallback" target="_blank">
                                                            <i class="icon icon--fancy" aria-hidden="true"></i>
                                                            <span class="icon-fallback__text">Fancy</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                    {% if settings.share_mail %}
                                                    <li class="product-single__share-item">
                                                        <a href="mailto:?body={{ share_title }} - {{ share_link }}" class="product-single__share-link icon-fallback">
                                                            <i class="icon icon--mail" aria-hidden="true"></i>
                                                            <span class="icon-fallback__text">Email</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                            {% if section.settings.layout == 'classic' %}
                                </div>
                            </div>
                            {% endif %}

                        </div>
                        <div class="o-layout__item u-1/1 u-3/5@desk">
                            
                            {% if section.settings.layout == 'classic' %}
                                <div class="u-hidden@desk-down" data-set="cart-photo-replace"></div>
                                <div class="u-hidden@desk-up" data-set="cart-replace"></div>
                            {% endif %}
                            
                            <div class="product-single__content">
                                <div class="product-single__content-text rte" itemprop="description">
                                    {{ product.description }}
                                </div>

                                <div class="product-single__accordion js-accordion">

                                    {% for block in section.blocks %}
                                        {%- assign tab = pages[block.settings.tab_content] -%}
                                        {% unless tab.title == blank %}
                                            <a href="#acc-{{ forloop.index }}" class="product-single__accordion__title js-accordion-trigger">
                                                <h4 class="product-single__accordion__title-text">{{ tab.title }}</h4>
                                                <span class="product-single__accordion__title-icon icon-fallback">
                                                    <i class="icon icon--plus" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">{{ 'products.layout.tab_label' | t }}</span>
                                                </span>
                                            </a>
                                            <div id="acc-{{ forloop.index }}" class="product-single__accordion__item js-accordion-info">
                                                <div class="product-single__accordion__item-wrap rte">
                                                    {{ tab.content }}
                                                </div>
                                            </div>
                                        {% endunless %}
                                    {% endfor %}

                                    {% if section.settings.show_reviews %}
                                        <a href="#acc-reviews" class="product-single__accordion__title js-accordion-trigger js-review-accordion">
                                            <h4 class="product-single__accordion__title-text">{{ 'products.layout.reviews' | t }}</h4>
                                            <span class="product-single__accordion__title-icon icon-fallback">
                                                <i class="icon icon--plus" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">{{ 'products.layout.tab_label' | t }}</span>
                                            </span>
                                        </a>
                                        <div id="acc-reviews" class="product-single__accordion__item js-accordion-info">
                                            <div class="product-single__accordion__item-wrap rte">
                                                <div class="product-single__reviews">
                                                    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {% if section.settings.show_related_products == true %} 
        {% assign number_of_related_products_per_row = section.settings.related_grid_num %}
        {% assign number_of_rows = section.settings.related_grid_row %}

        {% comment %}
            Set either or both to true, if you want to limit yourself to items with same vendor, and/or type.
        {% endcomment %}
        {% assign same_vendor = false %}
        {% assign same_type = false %}

        {% comment %}
            Collections to ignore. Never pick related items from those.
        {% endcomment %}
        {% assign exclusions = 'frontpage,all' | split: ',' %}

        {% comment %}
            Looking for a relevant collection.
        {% endcomment %}
        {% if product.metafields.c_f['Related Products'] %}
            {% assign collection = collections[product.metafields.c_f['Related Products']] %}
        {% endif %}

        {% assign found_a_collection = false %}
        {% if collection and collection.all_products_count > 1 %}
            {% unless exclusions contains collection.handle %}
                {% assign found_a_collection = true %}
            {% endunless %}
        {% endif %}
        {% unless found_a_collection %}
            {% for c in product.collections %}
                {% unless exclusions contains c.handle or c.all_products_count < 2 %}
                    {% assign found_a_collection = true %}
                    {% assign collection = c %}
                    {% break %}
                {% endunless %}
            {% endfor %}
        {% endunless %}

        {% comment %}
            If we have a relevant collection.
        {% endcomment %}
        {% if found_a_collection %}

            {% assign counter = 0 %}
            {% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
            {% assign current_product = product %}

            {% case number_of_related_products_per_row %}
                {% when 2 %}
                    {%- assign grid_item_width = 'u-1/2@tab' -%}
                    {%- assign image_size = '800x' -%}
                {% when 3 %}
                    {%- assign grid_item_width = 'u-1/3@tab' -%}
                    {%- assign image_size = '550x' -%}
                {% when 4 %}
                    {%- assign grid_item_width = 'u-1/3@tab u-1/4@desk' -%}
                    {%- assign image_size = '400x' -%}
            {% endcase %}

            {% capture related_items %}
                {% for product in collection.products %}
                {% unless product.handle == current_product.handle %}
                    {% unless same_vendor and current_product.vendor != product.vendor %}
                        {% unless same_type and current_product.type != product.type %}
                            <div class="o-layout__item {{ grid_item_width }}">
                                {% include 'product-grid-item', grid_image_width: image_size %}
                            </div>
                            {% assign counter = counter | plus: 1 %}
                            {% if counter == break_at %}
                                {% break %}
                            {% endif %}
                        {% endunless %}
                    {% endunless %}
                {% endunless %}
            {% endfor %}
            {% endcapture %}

            {% assign related_items = related_items | trim %}

            {% unless related_items == blank %}
                <section class="section section--related-products">
                    <div class="container container--medium">
                        {% unless section.settings.related_title == blank %}
                            <div class="section__title section__title--center">
                                <h2 class="section__title-text">{{ section.settings.related_title | escape }}</h2>
                            </div>
                        {% endunless %}
                    </div>
                    <div class="container container--mob-0">
                        <div class="related-products js-related-products" data-section-id="{{ section.id }}">
                            <div class="o-layout layout-slider js-layout-slider js-layout-slider-{{ section.id }}{% if settings.product_grid_masonry %} o-layout--masonry{% endif %}{% if section.settings.related_grid_num == 4 %} o-layout--small{% endif %}">
                                {{ related_items }}
                            </div>
                        </div>
                    </div>
                </section>
            {% endunless %}
         
        {% endif %}
    {% endif %}
</div>

{% schema %}
{
    "name": "Product page",
    "class": "js-section__product-single",
    "max_blocks": 3,
    "settings": [
        {
            "type": "header",
            "content": "Gallery settings"
        },
        {
            "type": "checkbox",
            "id": "enable_zoom",
            "label": "Enable image zoom",
            "default": true
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "options": [
                {
                    "value": "full",
                    "label": "Full width"
                },
                {
                    "value": "classic",
                    "label": "Classic"
                }
            ],
            "default": "full"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "options": [
                {
                    "value": "grey",
                    "label": "Default grey"
                },
                {
                    "value": "white",
                    "label": "White"
                },
                {
                    "value": "brand",
                    "label": "Brand"
                },
                {
                    "value": "accent",
                    "label": "Accent"
                },
                { 
                    "value": "black",
                    "label": "Black"
                } 
            ],
            "default": "white"
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text color",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "default-light",
                    "label": "Default light"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                },
                {
                    "value": "light",
                    "label": "Light"
                }
            ],
            "default": "default"
        },
        {
            "type": "select",
            "id": "bg_height",
            "label": "Background height",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "full",
                    "label": "Full"
                }
            ],
            "default": "default"
        },
        {
            "type": "select",
            "id": "image_size",
            "label": "Image size",
            "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ],
            "default": "medium"
        },
        {
            "type": "header",
            "content": "Theme settings"
        },
        {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show vendor",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "Show quantity selector",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_share_buttons",
            "label": "Show social sharing buttons",
            "default": true
        },
        {
            "type": "header",
            "content": "Reviews settings"
        },
        {
            "type": "paragraph",
            "content": "You must install free [Shopify Product Reviews](https://apps.shopify.com/product-reviews) app before enabling."
        },
        {
            "type": "checkbox",
            "id": "show_reviews",
            "label": "Enable",
            "default": false
        },
        {
            "type": "header",
            "content": "Related products settings"
        },
        {
            "type": "checkbox",
            "id": "show_related_products",
            "label": "Enable related products",
            "default": false
        },
        {
            "id": "related_title",
            "type": "text",
            "label": "Heading",
            "default": "Related products"
        },
        {
            "type": "range",
            "id": "related_grid_num",
            "label": "Products per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "related_grid_row",
            "label": "Rows",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Global tab",
            "settings": [
                {
                    "type": "page",
                    "id": "tab_content",
                    "label": "Tab content",
                    "info": "Select page that will populate tab with content."
                }
            ]
        }
    ]
}
{% endschema %}