<section class="section section--cart">
    <div class="container container--tiny">
        <div class="section__title section__title--center">
            <h1 class="section__title-text h2">{{ 'cart.general.title' | t }}</h1>
        </div>

        <div class="cart__content">
            {% if cart.item_count > 0 %}
                <form action="/cart" method="post" novalidate class="cart-form">
                    <div class="cart__products">
                        {% for item in cart.items %}
                            <div class="cart__product">
                                <div class="cart__row">

                                    <div class="o-layout o-layout--small u-flex u-flex--middle">

                                        <div class="o-layout__item u-1/1 u-5/8@tab">
                                            <div class="o-layout o-layout--tiny u-flex u-flex--middle">
                                                <div class="o-layout__item u-1/3 u-1/3@tab">
                                                    <a href="{{ item.url | within: collections.all }}" class="cart__product-image">
                                                        <div class="o-ratio o-ratio--bg-grey">
                                                            <img src="{{ item | img_url: '50x50', crop: 'center' }}" data-src="{{ item | img_url: '240x240', crop: 'center' }}" alt="{{ item.title | escape }}" class="o-ratio__content lazyload js">
                                                            <noscript>
                                                                <img class="o-ratio__content lazyload"
                                                                    src="{{ item | img_url: '240x240', crop: 'center' }}"
                                                                    alt="{{ item.title | escape }}">
                                                            </noscript>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="o-layout__item u-2/3 u-2/3@tab">
                                                    <a href="{{ item.url | within: collections.all }}"><h3 class="cart__product-name">{{ item.product.title }}</h3></a>
                                                    
                                                    {% unless item.variant.title contains 'Default' %}
                                                        <p class="cart__product-meta">{{ item.variant.title }}</p>
                                                    {% endunless %}

                                                    {% assign property_size = item.properties | size %}
                                                    {% if property_size > 0 %}
                                                        {% for p in item.properties %}
                                                            {% unless p.last == blank %}
                                                                <p class="cart__product-meta">{{ p.first }}</p>
                                                                {% if p.last contains '/uploads/' %}
                                                                    <p class="cart__product-meta"><a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a></p>
                                                                {% else %}
                                                                    <p class="cart__product-meta">{{ p.last }}</p>
                                                                {% endif %}
                                                            {% endunless %}
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if settings.cart_vendor_enable %}
                                                        <p class="cart__product-meta">{{ item.vendor }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="o-layout__item u-2/3 u-2/8@tab">
                                            <input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
                                        </div>

                                        <div class="o-layout__item u-1/3 u-1/8@tab">
                                            {% if item.original_line_price != item.line_price %}
                                                <small class="cart-item__price-strikethrough"><s><span class="money">{{ item.original_line_price | money }}</span></s></small>
                                                <br><span><span class="money">{{ item.line_price | money }}</span></span>
                                            {% else %}
                                                <div class="cart-item__price"><span class="money">{{ item.price | money }}</span></div>
                                            {% endif %}
                                            
                                            {% if item.original_line_price != item.line_price %}
                                                <div class="grid--full display-table">
                                                    <div class="grid__item text-right">
                                                        {% for discount in item.discounts %}
                                                            <small class="cart-item__discount">{{ discount.title }}</small><br>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                      
                                        </div>
                                    </div>

                                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart-item__remove icon-fallback">
                                        <i class="icon icon--close" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">{{ 'cart.general.remove' | t }}</span>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                    {% if settings.cart_notes_enable %}
                        <div class="cart__message">
                            <label for="CartSpecialInstructions" class="cart__message-label">{{ 'cart.general.note' | t }}</label>
                            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
                        </div>
                    {% endif %}

                    <div class="cart__footer">
                        <p class="cart__footer-message">{{ 'cart.general.shipping_at_checkout' | t }}</p>
                        <p class="cart__footer-total">{{ 'cart.general.subtotal' | t }} <span class="money">{{ cart.total_price | money }}</span></p>
                        {% if cart.total_discounts > 0 %}
                            {% assign savings = cart.total_discounts | money %}
                            <p class="cart__savings"><em><span class="money">{{ 'cart.general.savings_html' | t: price: savings }}</span></em></p>
                        {% endif %}
                    </div>

                    <div class="cart__button">
                        <button type="submit" name="update" class="c-btn c-btn--light cart__button-update update-cart">{{ 'cart.general.update' | t }}</button>
                        <button type="submit" class="c-btn c-btn--full c-btn--arrow c-btn--primary cart__checkout" name="checkout">{{ 'cart.general.checkout' | t }}</button>
                        {% if settings.cart_continue %}
                            <a href="/collections/all" class="link link--arrow-left cart__continue">{{ 'cart.general.continue_shopping' | t }}</a>
                        {% endif %}
                    </div>

                </form>
            {% else %}
                <div class="cart-empty">
                    <h5 class="cart-empty__title">{{ 'cart.general.empty' | t }}</h5>
                    <span class="emoji cart-empty__emoji">
                        <i class="icon icon--sad"></i>
                    </span>
                    <a href="/collections/all" class="c-btn c-btn--primary c-btn--full">{{ 'cart.general.empty_link' | t }}</a>
                </div>
            {% endif %}
        </div>

    </div>
</section>